* {
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  /* max-width: 1200px; */
}

/* note */
/* from 1024px there is the media query */
/* width distances are 1024px, 768px, 640px */
/*  padding is always 16px */
/* font-family:Oxanium,sans-serif */

html {
  color: white;
  font-family: "Oxanium", cursive;
  background: #0d0d2b;
  /* max-width: 1200px; */
  /* width: fit-content; */

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-family: "Oxanium", cursive;
}

h2 {
  font-size: 20px;
}
button,
select,
input,
textarea {
  cursor: pointer;
}

* p {
  line-height: 24px;
}

p {
  font-size: 14px;
}

/* HEADER */
header {
  background: #0d0d2b;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: hidden;
  white-space: nowrap;
}

header * {
  animation: text_slide_up 2s ease 1 normal;
}
header ul {
  display: inline-flex;
  list-style: none;
  padding: 4px 0;
  align-items: center;
  margin: 8px 0px;
}

header ul div {
  display: inline-flex;
  align-items: center;
}

header li {
  padding: 0 16px;
  text-transform: capitalize;

  /* margin 32px top between them */
}

.text-slide-up {
  overflow-y: hidden;
  white-space: nowrap;
}

li {
  cursor: pointer;

  /* height: 16px; */
}
/* li {
  animation: text_slide_up 1s ease 1 normal;
} */
.list-items:hover {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: fit-content;
}

li:hover {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

header ul hr {
  color: rgb(77, 72, 83);
  margin: 0 24px;
  height: 16px;
}
header ul .register {
  background: rgb(59, 130, 246);
  padding: 10px 24px;
  border-radius: 32px;
  color: white;
  border: none;
  font-size: 16px;
}

header ul .login {
  padding-right: 0;
  padding-left: 40px;
}

.login:hover {
  border: none;
  /* padding-bottom: unset; */
}
/* END OF HEADER */

/* BODY */
.body-container1 {
  padding: 0 100px;
  background: #0d0d2b;
}
.hero-section {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
  column-gap: 100px;
}

.hero-section img {
  height: 400px;
  width: auto;
  animation: swell 2s ease 0.4s 1 normal;
}

.hero-section h1 {
  font-size: 48px;
  text-transform: capitalize;
  padding: 8px 0;
  margin: 0;
  animation: slide-up 2s ease 0.4s 1 normal;

  /* adjust the line height */
}

.hero-advert {
  background: rgb(75, 85, 99);
  display: inline-flex;
  width: 284px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 4px;
  padding-right: 12px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.hero-advert div:first-child {
  padding: 4px 16px;
  background: white;
  color: rgb(75, 85, 99);
  text-transform: uppercase;
  border-radius: 16px;
  animation: swell 2s ease 0.4s 1 normal;
}

.hero-description-container p {
  font-size: 12px;
  margin-top: 0;
  animation: slide-up 2s ease 0.4s 1 normal;
}

.hero-description-container button {
  background: rgb(37, 99, 235);
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  padding: 4px 16px;
  border-radius: 20px;
  animation: swell 2s ease 0.4s 1 normal;
  display: inline-flex;
  align-items: center;
}

.vector {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  animation: slide-right 2.5s ease 0.4s 1 normal;
}
.vector img {
  background: white;
  height: 10px;
}
.info {
  display: flex;
  justify-content: space-between;
}

.info-div {
  display: inline-flex;
  align-items: center;
  animation: slide-up 2.5s ease 0.4s 1 normal;
}

.info-div-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #252540;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.info-div-img img {
  width: 40px;
  height: auto;
  animation: swell 2.5s ease 0.4s 1 normal;
}

.info-div h2 {
  font-size: 24px;
  margin: 4px 0;
}

.info-div p {
  font-size: 12px;
}

.why {
  display: flex;
  column-gap: 100px;
}

.why div {
  margin-top: 80px;
}

.why button {
  padding: 4px 16px;
  border-radius: 20px;
  border: none;
  background: #3671e9;
  font-size: 16px;
  color: white;
}

.calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.calculate-info {
  transform: translateY(70px);
}

.calculate-info p {
  line-height: 24px;
}

.calculator-container {
  padding: 48px;
  background: #fbfcfe;
  border-radius: 16px;
  color: #0d0d2b;
}

.calculator-tools select,
.calculator-tools input {
  border-color: #e7e7e7;
  border-width: 2px 0px;
  border-top: none;
  color: #0d0d2b;
  font-size: 20px;
  padding-bottom: 8px;
}

/* check how to removed border during focus */
.calculator-tools input:focus {
  border-color: #e7e7e7;
  border-width: 2px 0px;
  border: unset;
  color: #0d0d2b;
  font-size: 20px;
  padding-bottom: 8px;
}

.calculator-tools input {
  width: 400px;
}

.calculator-tools select {
  width: 200px;
}

.calculator-tools {
  display: flex;
  justify-content: space-between;
}

.calculator-tools button {
  font-size: 18px;
  padding: 8px 32px;
  border-radius: 32px;
  border: none;
  background: #3671e9;
  color: white;
}
.calculator-container {
  padding: 48px;
  width: 900px;
  transform: translateY(150px);
  box-shadow: 0px 2px 20px 0px #39177745; /* mix-blend-mode: overlay; */
}

.calculator-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.calculator-info * {
  margin: 0;
}

/* body2 */
.white-section {
  color: #0d0d2b;
  padding: 0 100px;
  padding-top: 200px;
  background: white;
}

.white-section h1 {
  width: 60%;
  margin: 64px auto;
}

.coins-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 0 32px;
  padding-bottom: 100px;
}

.coins {
  padding: 48px 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px #39177745; /* mix-blend-mode: overlay; */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #828282;
}

/* .coins img{
  width: 80px;
  height: auto;
} */

.coins-description {
  display: flex;
  align-items: center;
}

.coins-description h2 {
  margin-right: 10px;
  color: #0d0d2b;
}

.coins button {
  background: white;
  border: #0d0d2b;
  border-width: 0.5px;
  border-style: solid;
  display: flex;
  height: 30px;
  padding: 20px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.coins button p {
  display: none;
}

.coins:hover {
  color: #c5c5c5;
  background: #2b076e;
  transform: scale(1.05);
  animation: small_swell 1s ease 0s 1 normal;
  box-shadow: 0px 0px 20px 5px #39177745; /* mix-blend-mode: overlay; */

  /* backdrop-filter: blur(250px); */
}

.coins:hover .coins-description p {
  opacity: 0.7;
}

.coins:hover .coins-description h2 {
  color: white;
}

.coins:hover .coins-button {
  background: #3671e9;
  color: white;
  width: unset;
  border-radius: 30px;
}

.coins:hover .vector2 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coins:hover .coins-button p {
  display: block;
  margin-right: 10px;
}

.statistics {
  background: #2b076e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics h2 {
  font-size: 32px;
}

.statistics p {
  color: #e0e0e0;
  margin-top: 32px;
}
.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 70%; */
}

.statistics-object button {
  text-transform: capitalize;
  background: #3671e9;
  color: white;
  padding: 16px 32px;
  border-radius: 32px;
  margin-top: 32px;
  border: none;
  font-size: 18px;
}

.statistics-object {
  display: flex;
  align-items: center;
  padding: 60px;
  column-gap: 50px;
}

.statistics-object:nth-child(odd) {
  flex-direction: row-reverse;
}

.mining-section {
  background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
  padding: 80px 120px;
}

.subscribe-section {
  display: flex;
  background: #3671e9;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  align-items: center;
  column-gap: 150px;
}

.subscribe-section button {
  border: none;
  background: white;
  color: #0d0d2b;
  padding: 16px 32px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 700;
}

.subscribe-description h1 {
  margin: 0;
}

.subscribe {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.subscribe input {
  border-color: #acacac;
  border-width: 1px 0px;
  border-top: none;
  color: white;
  font-size: 20px;
  padding-bottom: 8px;
  background: none;
  width: 350px;
}

.subscribe input::placeholder {
  color: rgb(190, 190, 190);
}

/* END OF BODY */

/* FOOTER */
footer {
  background: #0d0d2b;
  padding: 0 100px;
  color: white;
  font-size: 16px;
}

.footer-about {
  background: #0d0d2b;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  align-items: flex-start;
  padding-top: 24px;
}

.footer-about ul,
.footer-about h2 {
  padding: 0;
  margin: 0;
}

.footer-about li {
  list-style: none;
  margin-top: 24px;
}

footer li:hover {
  border-bottom: 1px solid white;
  width: fit-content;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  padding-bottom: 24px;
}

.footer-about h2 {
  width: 400px;
}

.socials div {
  display: flex;
  column-gap: 30px;
}

.socials img {
  cursor: pointer;
}

.socials img:hover {
  transform: scale(1.3);
}

.mylink a {
  /* text-align: center; */
  color: white;
}

.mylink {
  padding-bottom: 24px;
}

.text-slide-up{
  overflow-y: hidden;
  white-space: nowrap;
}

.text-slide-up li {
  animation: text_slide_up 1s ease 1 normal;
}

.text-slide-up:hover{
    border-bottom: 1px solid white;
  width: fit-content;
}
/* END OF FOOTER */

/* backgrounds-images */
.background {
  height: unset;
  width: unset;
  position: absolute;
  animation: swell 2s ease 0.4s 1 normal;
}

.background-1 {
  left: 20%;
  top: 20%;
  height: 100%;
  transform: scale(1.4);
}

.background-2 {
  height: 100%;
  width: 100%;
  right: 0;
}

.background-3 {
  right: 0;
}

.background-4 {
  bottom: 0;
  transform: translateY(150px);
}

.background-5 {
  bottom: 0;
  right: 0;
  transform: translateY(150px);
}

.background-6 {
  transform: translateY(-20px);
}

.background-7 {
  /* top: 0; */
  right: 0;
  transform: translateY(-500px);
}

.background-8 {
  left: 150px;
  transform: translateY(-50px);
}

.background-9 {
  right: 150px;
}
.background-10{
    transform: translateY(-300px);

}
.background-11 {
  right: 100px;
  transform: translateY(-300px);
}

/* media queries */
@media screen and (max-width: 1200px) {
  body,
  html {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }
}

/* animations */
@keyframes swell {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text_slide_up {
  0% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes small_swell {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 20px 0px #39177745; /* mix-blend-mode: overlay; */
  }
  100% {
    box-shadow: 0px 0px 20px 5px #39177745; /* mix-blend-mode: overlay; */

    transform: scale(1.05);
  }
}
