* {
  box-sizing: border-box;
}

/* note */
/* from 1024px there is the media query */
/* width distances are 1024px, 768px, 640px */
/*  padding is always 16px */
/* font-family:Oxanium,sans-serif */

html {
  color: white;
  font-family: "Oxanium", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}
button {
  cursor: pointer;
}

/* HEADER */
header {
  background: #0d0d2b;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
}
header ul {
  display: inline-flex;
  list-style: none;
  padding: 4px 0;
  align-items: center;
}

header ul div {
  display: inline-flex;
  align-items: center;
}

header li {
  padding: 0 16px;
  text-transform: capitalize;
  /* margin 32px top between them */
}

header ul hr {
  color: rgb(77, 72, 83);
  margin: 0 24px;
  height: 16px;
}
header ul .register {
  background: rgb(59, 130, 246);
  padding: 4px 16px;
  border-radius: 16px;
  color: white;
}

header ul .login {
  padding-right: 0;
  padding-left: 40px;
}
/* END OF HEADER */

/* BODY */
.body-container1 {
  padding: 0 16px;
  background: #0D0D2B;
}
.hero-section {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
}

.hero-section img {
  height: 400px;
  width: auto;
  animation: swell 2s ease 0.4s 1 normal;
}

.hero-section h1 {
  font-size: 48px;
  text-transform: capitalize;
  padding: 8px 0;
  margin: 0;
  animation: float_up 2s ease 0.4s 1 normal;

  /* adjust the line height */
}

.hero-advert {
  background: rgb(75, 85, 99);
  display: inline-flex;
  width: 284px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 4px;
  padding-right: 12px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.hero-advert div:first-child {
  padding: 4px 16px;
  background: white;
  color: rgb(75, 85, 99);
  text-transform: uppercase;
  border-radius: 16px;
  animation: swell 2s ease 0.4s 1 normal;
}

.hero-description-container p {
  font-size: 12px;
  margin-top: 0;
  animation: float_up 2s ease 0.4s 1 normal;
}

.hero-description-container button {
  background: rgb(37, 99, 235);
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  padding: 4px 16px;
  border-radius: 20px;
  animation: swell 2s ease 0.4s 1 normal;
  display: inline-flex;
  align-items: center;
}

.vector {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  animation: slide-right 2.5s ease 0.4s 1 normal;
}
.vector img {
  background: white;
  height: 10px;
}
.info {
  display: flex;
  justify-content: space-between;
}

.info-div {
  display: inline-flex;
  align-items: center;
}

.info-div-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #252540;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.info-div-img img {
  width: 40px;
  height: auto;
}

.info-div h2 {
  font-size: 24px;
  margin: 4px 0;
}

.info-div p {
  font-size: 12px;
}

.why {
  display: flex;
}

.why button {
  padding: 4px 16px;
  border-radius: 20px;
  border: none;
  background: #3671e9;
  font-size: 16px;
  color: white;
}
/* END OF BODY */

/* animations */
@keyframes swell {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes float_up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
