* {
  box-sizing: border-box;
}

/* note */
/* from 1024px there is the media query */
/* width distances are 1024px, 768px, 640px */
/*  padding is always 16px */
/* font-family:Oxanium,sans-serif */

html {
  padding: 0 16px;
  background: rgb(13, 13, 43);
  color: white;
  font-family:'Oxanium',sans-serif

}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
}
header ul {
  display: inline-flex;
  list-style: none;
  padding: 4px 0;
  align-items: center;
}

header ul div {
  display: inline-flex;
  align-items: center;
}

header li {
  padding: 0 16px;
  text-transform: capitalize;
  /* margin 32px top between them */
}

header ul hr {
  color: rgb(77, 72, 83);
  margin: 0 24px;
  height: 16px;
}
header ul .register {
  background: rgb(59, 130, 246);
  padding: 4px 16px;
  border-radius: 16px;
  color: white;
}

header ul .login {
  padding-right: 0;
  padding-left: 24px;
}
/* END OF HEADER */

/* BODY */
.hero-section {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
}

.hero-section img {
  height: 400px;
  width: auto;
}

.hero-section h1 {
  font-size: 48px;
  text-transform: capitalize;
  padding: 8px 0;
  margin: 0;
  /* adjust the line height */
}

.hero-advert {
  background: rgb(75, 85, 99);
  display: inline-flex;
  width: 284px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 4px;
  padding-right: 12px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.hero-advert div:first-child {
  padding: 4px 16px;
  background: white;
  color: rgb(75, 85, 99);
  text-transform: uppercase;
  border-radius: 16px;
}

.hero-description-container p {
  font-size: 12px;
  margin-top: 0;
}

.hero-description-container button {
  background: rgb(37, 99, 235);
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  color: white;
}
/* END OF BODY */
